@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Remove default dark mode styles */
body {
  color: #2D3748;
  background: #FFFFFF;
}
